body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  color: red;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
}

ul.nav .nav-link {
  color: var(--bs-secondary-text-emphasis);
}

.nav-link:hover {
  text-decoration: underline;
}

.sectionscont {
  margin: 0 auto;
  padding: 2rem;
}

footer {
  width: 100%;
  bottom: 0;
}
